<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Restful Web Application</display-name>

    <servlet>
        <servlet-name>elasticwebservice</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>eu.tib.umbiko</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>eu.tib.umbiko.CORSResponseFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <env-entry>
        <env-entry-name>es-host</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>http://localhost:9200/</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>es-user</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>*</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>es-pass</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>*</env-entry-value>
    </env-entry>
    <servlet-mapping>
        <servlet-name>elasticwebservice</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>